/* calendar-custom.css */
.rdrCalendarWrapper {
  background-color: transparent !important;
}

.rdrMonthAndYearWrapper,
.rdrWeekDays,
.rdrDays,
.rdrDay,
.rdrMonth {
  background-color: transparent !important;
}

/* Optional: Remove highlight on selected/hovered days */
.rdrDayHovered,
.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview,
.rdrDayStartOfMonth,
.rdrDayEndOfMonth,
.rdrDaySelected,
.rdrDayRangeStart,
.rdrDayRangeEnd,
.rdrDayInRange {
  background-color: transparent !important;
  color: #181D24 !important; /* Optional: default text color */
  box-shadow: none !important;
  font-weight: 700!important;
}

.rdrDateDisplayWrapper
{
  background-color: transparent !important;
}
.rdrDateInput 
{
  background-color: transparent !important;
  border:none!important;
  border-color: none!important;
}
.rdrDateDisplayItem input
{
  color:#181D24!important;
  font-weight: 700!important;
}
.rdrMonthName
{
   color:#181D24!important;
   font-weight: 700!important;
}
.rdrWeekDay
{
   color:#181D24!important;
   font-weight: 700!important;
}
.rdrDayNumber
{
   color:#181D24!important;
   font-weight: 700!important;
}
.rdrMonthPicker
{
   color:#181D24!important;
   font-weight: 700!important;
}
.rdrStartEdge
{
  background-color: #8998A6 !important;
}
button .rdrDay
{
  background-color: #8998A6 !important;
}
.rdrDayToday .rdrDayNumber span:after
{
  background-color: #8998A6 !important;
}
.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge
{
  background-color: #8998A6 !important;
}
.rdrNextPrevButton
{
background-color: transparent !important;
font-weight: 700!important;
}
.rdrPprevButton
{
background-color: transparent !important;
font-weight: 700!important;
}
.rdrMonthAndYearPickers
{
font-weight: 700!important;
}

/* height. padding, margin adjust */
.rdrMonthAndYearWrapper
{
  height:40px!important;
  padding-top: 0px!important;
}
/* Optional override in your global CSS if calendar has padding issues */
.rdrCalendarWrapper {
  padding: 0 !important;
}